# Virtual environment folder
venv_dl_new/
venv*/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IMPORTANT: If you want to push model files, they must be tracked by Git LFS.
# Otherwise, they must be ignored here.
# model/duku_langsat_model.h5
# yolov8n.pt

# Other common ignored files
.DS_Store
.env
*.log
nohub.out